@media (max-width: 768px) {
   body {
      header {
         width: 100%;

         #btnColor {
            left: 50%;
         }

         #themePortfolio {
            margin: 0 0 0 20%;
         }

         #menu-hamb {
            display: block;
            height: 50%;
            padding: 0 2%;
            border: 3px solid var(--primary-color);
            border-radius: 5px;
            margin: 0 0 0 85%;
            cursor: pointer;
             
            i{
               color: var(--blackcolor);
            }
         }

         #links-desktop {
            display: none;
         }
      }

      #links-mobile {
         background-color: var(--blackcolor);
         width: 20%;
         border-radius: 10px 0 10px 10px;
         position: absolute;
         left: 70%;

         a {
            color: var(--whitecolor);
            list-style: none;
            text-decoration: none;
            font: bold 1rem 'Poppins';
            margin: 2% 2% 2% 2%;
         }

         a li:hover {
            color: var(--primary-color);
            transition: 0.45s ease;
         }
      }

      .paleta-de-cores {
         width: 70%;

         .color {
            grid-template-columns: repeat(1, 15%);
            margin: 0 0 0 30%;

            button {
               width: 10rem;
               gap: 15%;
            }
         }
      }

      .about-me {
         background-color: transparent;
         margin: 5% auto;

         p {
            width: 60%;
         }
      }

      .particulas,
      .particulas2 {
         position: fixed;
         z-index: -1;
         width: 100%;
         height: 100%;
         background: radial-gradient(circle at 90% 74%, var(--primary-color) 0%, transparent 10%);
      }

      .particulas {
         top: 0;
         left: 0;
      }

      .particulas2 {
         top: 50%;
         left: 80%;
      }

      .particulas3,
      .particulas4 {
         position: fixed;
         z-index: -1;
         width: 100%;
         height: 100%;
         background: radial-gradient(circle at 15% 24%, var(--blackcolor) 0%, transparent 10%);
      }

      .particulas3 {
         top: 60%;
         left: 5%;
      }

      .particulas4 {
         top: 3%;
         left: 75%;
      }

      .jobs {
         .my-projects {
            justify-content: center;
            grid-template-columns: repeat(1, 1%);
            margin: 0 90% 0 0;

            .modalProjeto {
               position: fixed;
               background: var(--whitecolor);
               backdrop-filter: blur(10px);
               color: var(--blackcolor);
               border-radius: 5px;
               border: 1px solid var(--blackcolor);
               z-index: 1000;
               width: 100%;
               height: 70%;
               left: 5%;
               top: 10%;
               bottom: 5%;

               img {
                  width: 100%;
                  height: auto;
                  background-position: cover;
                  background-size: 100%;
                  margin: 0 auto;
               }

               section {
                  padding: 3%;
                  font-weight: 500;
               }

               button {
                  display: flex;
                  justify-content: center;
                  width: 15%;
                  padding: 5%;
                  border-radius: 50%;
                  cursor: pointer;
                  border: none;
                  position: absolute;
                  left: 85%;
                  background: none;

                  i {
                     color: var(--blackcolor);
                     background-color: transparent;
                  }
               }

               .btnLink {
                  background-color: var(--blackcolor);
                  color: var(--whitecolor);
                  position: absolute;
                  bottom: 1%;
                  width: 8rem;
                  border-radius: 3px;
                  left: 30%;
                  font-size: .8rem;
                  font-weight: 600;
               }
            }
         }

         .more {
            margin: 30% 0 0 30%;
         }
      }

      .contact {
         form {
            width: 80%;
            height: auto;
         }
      }

      footer {
         height: 10%;
         background-color: var(--blackcolor);
         color: var(--whitecolor);
         display: grid;
         flex-direction: column;
         text-align: center;
         font-size: 90%;

         p {
            width: 100%;
         }

         .contact_footer {
            margin: 0 50% 0 0;
            padding: 3% 3% 3% 30%;
         }

         a {
            margin: 0 60% 0 60%;
            color: var(--whitecolor);
         }

         i {
            margin: 0 60% 0 60%;
         }

      }
   }
}