<<<<<<< HEAD
*{
    margin: 0;
    padding: 0;
}

div.principal{
    background-color:palegreen;
    width: 30vw;
    height: 80vh;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    margin: auto;
    padding: 2rem;
    border-radius: 20px;
}

h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
}

div.manha, div.tarde, div.noite{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

h2.manha, h2.tarde, h2.noite{
    text-align: left;
    font-family: 'Arial', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
}

#tarefaManha, #tarefaTarde, #tarefaNoite{
    border: 1px solid black;
    width: 8vw;
    height: 2rem;
}

#adicionarManha, #adicionarTarde, #adicionarNoite{
    width: 8vw;
    height: 2rem;
    background-color:darkorchid ;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 0.5rem;
}

#adicionarManha:hover, #adicionarTarde:hover, #adicionarNoite:hover{
    background-color: plum;
    color: #ffffff;
}

#tarefa{
     width: 20vw;
     height: 1.5rem;
     background-color: white;
     border: none;
}

.campos{
    display: grid;
    grid-template-columns: repeat(3, 5rem);
}

.tarefaManha, .tarefaTarde, .tarefaNoite{
     display: flex;
     width: 15vw;
     height: 10rem;
     border: 3px solid black;
     margin-left: 20rem;
     margin-top: -7rem;
     background-color: darkkhaki;
}

li{
    list-style: none;
    font-size: 1rem;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    display: grid;
    margin-top: 0.5rem;
    margin-left: 1rem;
}

.botoes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 0.5rem;
}

.salvar, .excluir, .limpar{
    width: 8vw;
    height: 2rem;
    background-color:orangered;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0.5rem;
    font-size: 1rem;
}

.salvar:hover, .limpar:hover{
    background-color: darkorange;
    color: #ffffff;
}

.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
}

.rodape p{
    text-decoration: none;
    color: black;
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    background-color: #c7c7c7;
    padding: 0.5rem;
    border-radius: 5px;
    border: 2px solid black;
    text-align: center;
    width: 30vw;
}



=======
*{
    margin: 0;
    padding: 0;
}

div.principal{
    background-color:palegreen;
    width: 30vw;
    height: 80vh;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    margin: auto;
    padding: 2rem;
    border-radius: 20px;
}

h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
}

div.manha, div.tarde, div.noite{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

h2.manha, h2.tarde, h2.noite{
    text-align: left;
    font-family: 'Arial', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
}

#tarefaManha, #tarefaTarde, #tarefaNoite{
    border: 1px solid black;
    width: 8vw;
    height: 2rem;
}

#adicionarManha, #adicionarTarde, #adicionarNoite{
    width: 8vw;
    height: 2rem;
    background-color:darkorchid ;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 0.5rem;
}

#adicionarManha:hover, #adicionarTarde:hover, #adicionarNoite:hover{
    background-color: plum;
    color: #ffffff;
}

#tarefa{
     width: 20vw;
     height: 1.5rem;
     background-color: white;
     border: none;
}

.campos{
    display: grid;
    grid-template-columns: repeat(3, 5rem);
}

.tarefaManha, .tarefaTarde, .tarefaNoite{
     display: flex;
     width: 15vw;
     height: 10rem;
     border: 3px solid black;
     margin-left: 20rem;
     margin-top: -7rem;
     background-color: darkkhaki;
}

li{
    list-style: none;
    font-size: 1rem;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    display: grid;
    margin-top: 0.5rem;
    margin-left: 1rem;
}

.botoes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 0.5rem;
}

.salvar, .excluir, .limpar{
    width: 8vw;
    height: 2rem;
    background-color:orangered;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0.5rem;
    font-size: 1rem;
}

.salvar:hover, .limpar:hover{
    background-color: darkorange;
    color: #ffffff;
}

.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
}

.rodape p{
    text-decoration: none;
    color: black;
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    background-color: #c7c7c7;
    padding: 0.5rem;
    border-radius: 5px;
    border: 2px solid black;
    text-align: center;
    width: 30vw;
}



>>>>>>> b0fe616 (Botão de Acesso nos Projetos)
