<<<<<<< HEAD
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: purple;
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.resultado-final{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    height: 5rem;
    background-color: gainsboro;
    border-radius: 10px;
    border: 2pt solid black;
    margin-top: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
}

.rascunho{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40rem;
    height: 8rem;
    background-color: #94ff99;
    border-radius: 10px;
    border: 2pt solid black;
    margin-top: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    height: 80vh;
    background-color: rgb(255, 196, 123);
    margin: auto;
    border-radius: 40px;
    border: 2pt solid gray;
}

section.botoes{
    display: grid;
    grid-template-rows: repeat(2, 0.5rem);
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.botoes-operacoes{
    display: grid;
    grid-template-columns: repeat(4, 5rem);
    width: 10rem;
    height: 10rem;
    margin-right: 30rem;
}

#operacao{
    background-color: yellow;
    border-radius: 10px;
    border: 2pt solid black;
    font-size: 3rem;
    margin: 1rem;
}

#operacaoAC{
    background-color: hsl(323, 100%, 50%);
    border-radius: 10px;
    border: 2pt solid black;
    font-size: 2rem;
    margin: 1rem;
}

#operacaoRemoverDig{
    background-color: rgb(255, 144, 209);
    border-radius: 10px;
    border: 2pt solid black;
    font-size: 2rem;
    margin: 1rem;
    background-image: url(./image/seta\ esquerda.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

#igual{
    background-color: #6800c9;
    border-radius: 10px;
    border: 2pt solid black;
    font-size: 2rem;
    margin: 1rem;
    cursor: pointer;
}

#operacao:hover, #operacaoAC:hover, #operacaoRemoverDig:hover, #igual:hover{
    cursor: pointer;
    opacity: 0.7;
}

[name="soma"] {
    background-image: url(./image/Calculadora\ Básica\ -\ Portfólio.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

[name="subtracao"] {
    background-image: url(./image/Calculadora\ Básica\ -\ Portfólio\ \(1\).jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

[name="multiplicacao"] {
    background-image: url(./image/Calculadora\ Básica\ -\ Portfólio\ \(2\).jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

[name="divisao"] {
    background-image: url(./image/Calculadora\ Básica\ -\ Portfólio\ \(3\).jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

[name="potencia"] {
    background-image: url(./image/Calculadora\ Básica\ -\ Portfólio\ \(6\).jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

[name="soma"], [name="subtracao"], [name="multiplicacao"], [name="divisao"], [name="potencia"]{
    color: transparent;
}

.botoes-numeros{
    display: grid;
    grid-template-columns: repeat(3, 5rem);
    width: 10rem;
    height: 10rem;
    margin-left: 25rem;
}

.botoes-numeros>button{
    background-color: rgb(0, 195, 255);
    border-radius: 10px;
    border: 2pt solid black;
    font-size: 2rem;
    margin: 1rem;
}

.botoes-numeros>button:hover{
    cursor: pointer;
    opacity: 0.7;
}

.rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    height: 5vh;
    background-color: #ffffff;
    text-align: center;
    border: 3px solid black;
    justify-content: center;
    margin: auto;
    margin-top: 5rem;
    border-radius: 10px;
}

.rodape>p{
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto;
}

/*CELULARES*/
@media screen and (max-width: 1024px) {
    .principal{
        width: 95vw;
        height: 95vh;
    }
    
    .rascunho{
        width: 80vw;
        height: 10vh;
    }

    .resultado-final{
        width: 80vw;
        height: 10vh;
    }

    #operacao{
        width: 3rem;
        height: 3rem;
        font-size: 2rem;
    }

    button{
        width: 3rem;
        height: 3rem;
    }

    .botao{
        width: 3rem;
        height: 3rem;
    }

    .botoes{
        display: grid;
        grid-template-columns: repeat(4, 2.3rem);
        margin-right: 15rem;
    }

    .botoes-numeros{
        width: 10rem;
        height: 2rem;
        margin-left: 10rem;
        display: grid;
        grid-template-columns: repeat(3, 3rem);
    }

    .botoes-operacoes{
        width: 10rem;
        height: 3rem;
        display: grid;
        grid-template-columns: repeat(4, 3rem);
    }

    .rodape{
        width: 98vw;
        height: 4rem;
    }

    .rodape>p{
        font-size: 1rem;
        font-family: Arial, Helvetica, sans-serif;
    }
}

/*TABLETS*/
@media screen and (min-width: 800px) and (max-width: 1440px) {
    .principal{
        width: 95vw;
        height: 95vh;
    }

    .rascunho{
        width: 80vw;
        height: 10vh;
    }

    .resultado-final{
        width: 80vw;
        height: 10vh;
    }

    button{
        width: 3rem;
        height: 3rem;
    }

    #operacao{
        width: 3rem;
        height: 3rem;
        font-size: 2rem;
    }

    .botao{
        width: 3rem;
        height: 3rem;
    }

    .botoes{
        display: grid;
        grid-template-columns: repeat(4, 2.3rem);
        margin-right: 15rem;
    }

    .botoes-operacoes{
        width: 10rem;
        height: 3rem;
        display: grid;
        grid-template-columns: repeat(4, 4rem);
        margin-left: -3rem;
    }

    .botoes-numeros{
        width: 10rem;
        height: 2rem;
        margin-left: 20rem;
        display: grid;
        grid-template-columns: repeat(3, 4rem);
    }
}

/*DESKTOP E NOTEBOOKS*/
@media screen and (min-width: 880px) {
    .principal{
        width: 40vw;
        height: 95vh;
    }

    .rascunho{
        width: 25vw;
        height: 10vh;
    }

    .resultado-final{
        width: 30vw;
        height: 10vh;
    }

    button{
        width: 3rem;
        height: 3rem;
    }

    .botao{
        width: 3rem;
        height: 3rem;
    }

    #operacao{
        width: 3rem;
        height: 3rem;
        font-size: 2rem;
    }

    .botoes{
        display: grid;
        grid-template-columns: repeat(4, 2.3rem);
        margin-right: 15rem;
    }

    .botoes-operacoes{
        width: 10rem;
        height: 3rem;
        display: grid;
        grid-template-columns: repeat(4, 4rem);
        margin-left: -3rem;
    }

    .botoes-numeros{
        width: 10rem;
        height: 2rem;
        margin-left: 12rem;
        display: grid;
        grid-template-columns: repeat(3, 4rem);
    }

    .rodape{
        width: 40vw;
        height: 3rem;
    }
}

=======
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: purple;
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.resultado-final{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    height: 5rem;
    background-color: gainsboro;
    border-radius: 10px;
    border: 2pt solid black;
    margin-top: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
}

.rascunho{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40rem;
    height: 8rem;
    background-color: #94ff99;
    border-radius: 10px;
    border: 2pt solid black;
    margin-top: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    height: 80vh;
    background-color: rgb(255, 196, 123);
    margin: auto;
    border-radius: 40px;
    border: 2pt solid gray;
}

section.botoes{
    display: grid;
    grid-template-rows: repeat(2, 0.5rem);
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.botoes-operacoes{
    display: grid;
    grid-template-columns: repeat(4, 5rem);
    width: 10rem;
    height: 10rem;
    margin-right: 30rem;
}

#operacao{
    background-color: yellow;
    border-radius: 10px;
    border: 2pt solid black;
    font-size: 3rem;
    margin: 1rem;
}

#operacaoAC{
    background-color: hsl(323, 100%, 50%);
    border-radius: 10px;
    border: 2pt solid black;
    font-size: 2rem;
    margin: 1rem;
}

#operacaoRemoverDig{
    background-color: rgb(255, 144, 209);
    border-radius: 10px;
    border: 2pt solid black;
    font-size: 2rem;
    margin: 1rem;
    background-image: url(./image/seta\ esquerda.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

#igual{
    background-color: #6800c9;
    border-radius: 10px;
    border: 2pt solid black;
    font-size: 2rem;
    margin: 1rem;
    cursor: pointer;
}

#operacao:hover, #operacaoAC:hover, #operacaoRemoverDig:hover, #igual:hover{
    cursor: pointer;
    opacity: 0.7;
}

[name="soma"] {
    background-image: url(./image/Calculadora\ Básica\ -\ Portfólio.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

[name="subtracao"] {
    background-image: url(./image/Calculadora\ Básica\ -\ Portfólio\ \(1\).jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

[name="multiplicacao"] {
    background-image: url(./image/Calculadora\ Básica\ -\ Portfólio\ \(2\).jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

[name="divisao"] {
    background-image: url(./image/Calculadora\ Básica\ -\ Portfólio\ \(3\).jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

[name="potencia"] {
    background-image: url(./image/Calculadora\ Básica\ -\ Portfólio\ \(6\).jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

[name="soma"], [name="subtracao"], [name="multiplicacao"], [name="divisao"], [name="potencia"]{
    color: transparent;
}

.botoes-numeros{
    display: grid;
    grid-template-columns: repeat(3, 5rem);
    width: 10rem;
    height: 10rem;
    margin-left: 25rem;
}

.botoes-numeros>button{
    background-color: rgb(0, 195, 255);
    border-radius: 10px;
    border: 2pt solid black;
    font-size: 2rem;
    margin: 1rem;
}

.botoes-numeros>button:hover{
    cursor: pointer;
    opacity: 0.7;
}

.rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    height: 5vh;
    background-color: #ffffff;
    text-align: center;
    border: 3px solid black;
    justify-content: center;
    margin: auto;
    margin-top: 5rem;
    border-radius: 10px;
}

.rodape>p{
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto;
}

/*CELULARES*/
@media screen and (max-width: 1024px) {
    .principal{
        width: 95vw;
        height: 95vh;
    }
    
    .rascunho{
        width: 80vw;
        height: 10vh;
    }

    .resultado-final{
        width: 80vw;
        height: 10vh;
    }

    #operacao{
        width: 3rem;
        height: 3rem;
        font-size: 2rem;
    }

    button{
        width: 3rem;
        height: 3rem;
    }

    .botao{
        width: 3rem;
        height: 3rem;
    }

    .botoes{
        display: grid;
        grid-template-columns: repeat(4, 2.3rem);
        margin-right: 15rem;
    }

    .botoes-numeros{
        width: 10rem;
        height: 2rem;
        margin-left: 10rem;
        display: grid;
        grid-template-columns: repeat(3, 3rem);
    }

    .botoes-operacoes{
        width: 10rem;
        height: 3rem;
        display: grid;
        grid-template-columns: repeat(4, 3rem);
    }

    .rodape{
        width: 98vw;
        height: 4rem;
    }

    .rodape>p{
        font-size: 1rem;
        font-family: Arial, Helvetica, sans-serif;
    }
}

/*TABLETS*/
@media screen and (min-width: 800px) and (max-width: 1440px) {
    .principal{
        width: 95vw;
        height: 95vh;
    }

    .rascunho{
        width: 80vw;
        height: 10vh;
    }

    .resultado-final{
        width: 80vw;
        height: 10vh;
    }

    button{
        width: 3rem;
        height: 3rem;
    }

    #operacao{
        width: 3rem;
        height: 3rem;
        font-size: 2rem;
    }

    .botao{
        width: 3rem;
        height: 3rem;
    }

    .botoes{
        display: grid;
        grid-template-columns: repeat(4, 2.3rem);
        margin-right: 15rem;
    }

    .botoes-operacoes{
        width: 10rem;
        height: 3rem;
        display: grid;
        grid-template-columns: repeat(4, 4rem);
        margin-left: -3rem;
    }

    .botoes-numeros{
        width: 10rem;
        height: 2rem;
        margin-left: 20rem;
        display: grid;
        grid-template-columns: repeat(3, 4rem);
    }
}

/*DESKTOP E NOTEBOOKS*/
@media screen and (min-width: 880px) {
    .principal{
        width: 40vw;
        height: 95vh;
    }

    .rascunho{
        width: 25vw;
        height: 10vh;
    }

    .resultado-final{
        width: 30vw;
        height: 10vh;
    }

    button{
        width: 3rem;
        height: 3rem;
    }

    .botao{
        width: 3rem;
        height: 3rem;
    }

    #operacao{
        width: 3rem;
        height: 3rem;
        font-size: 2rem;
    }

    .botoes{
        display: grid;
        grid-template-columns: repeat(4, 2.3rem);
        margin-right: 15rem;
    }

    .botoes-operacoes{
        width: 10rem;
        height: 3rem;
        display: grid;
        grid-template-columns: repeat(4, 4rem);
        margin-left: -3rem;
    }

    .botoes-numeros{
        width: 10rem;
        height: 2rem;
        margin-left: 12rem;
        display: grid;
        grid-template-columns: repeat(3, 4rem);
    }

    .rodape{
        width: 40vw;
        height: 3rem;
    }
}

>>>>>>> b0fe616 (Botão de Acesso nos Projetos)
